doctype html
html
    head
        title Mailgun Transactional
        link(rel='stylesheet', type='text/css', href='form.css')
    body
        p Oops! Something went wrong! Here is the error: #{error}
