doctype html
html
    head
        title Mailgun Transactional
        link(rel='stylesheet', type='text/css', href='form.css')
    body
        p Thanks, the form sent succesfully!
        p #{email}
